html {
    background: url(/imgs/background.jpeg) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

.page {
    display: none;
    width: 100%;
    position: absolute;
    padding: 1rem 2rem;
}

.active {
    display: block;
}

/*homepage */
.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: #037481;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
    display: block;
    font-family: Calibri;
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    height: 200px;
    align-items: center;
}

#logo {
    width: 200px;
    padding-bottom: 100px;
}
#newmeeting #updateMeeting{
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    max-width: 90%;
    margin: 50px auto;
    position:relative;
    z-index:10;
    font-size: 20px;
    visibility: hidden;
}
.exit{
    cursor: pointer;
}
.exit::after{
    content:'❌';
    margin-left: 270px;
}

.days {
    background-color: lightblue;
    width: 100%;
    border: 1px solid white;
    vertical-align: top;
    color: darkslategrey;
    height: 400px;
    text-align: left;
    color: darkcyan;
    font-family: Calibri;
}

.day {
    background-color: darkcyan;
    font-size: larger; 
}

#date{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 120px;
}
h1{
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: Calibri;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 100px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 200px);
}
.task-menu {
    z-index: 10;
    padding: 5px 0;
    background: #781e1e;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

/* login page*/
.container {
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    max-width: 90%;
    margin: 50px auto;
}

/* Heading styles */
h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: darkcyan;
    font-size: 24px;
    text-align: center;
    font-family: Calibri;
}

/* Form styles */
#loginForm,#registerForm{
    display: flex;
    flex-direction: column;
    font-family: Calibri;
}

.input-group {
    margin-bottom: 15px;
}

label {
    color: darkcyan;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: #888;
}

/* Button styles */
button {
    padding: 12px;
    background-color: #5185be;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}


/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Define a class for the eye icon */
.toggle-password {
    cursor: pointer;
    position: relative;
}

/* Define the style for the eye icon */
.toggle-password::after {
    content: '👁️';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

/* Style for the password input wrapper */
.password-wrapper {
    position: relative;
}